RewriteEngine on

RewriteCond %{HTTP_HOST} !^m.orangerockcorps.fr
RewriteCond %{HTTP_USER_AGENT} (.*)ipod [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)iphone(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)android(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)opera\ mini(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)blackberry(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)palm(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)hiptop(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)avantgo(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)plucker(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)xiino(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)blazer(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)elaine(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)windows\ ce\;\ ppc\;(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)windows\ ce\;\ smartphone\;(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)windows\ ce\;\ iemobile(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)up\.browser(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)up\.link(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)mmp(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)symbian(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)smartphone(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)midp(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)wap(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)vodafone(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)o2(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)pocket(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)kindle(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)mobile(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)pda(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)psp(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (.*)treo(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^1207 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^3gso [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^4thp [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^501i [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^502i [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^503i [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^504i [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^505i [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^506i [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^6310 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^6590 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^770s [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^802s [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^a\ wa [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^acer [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^acs\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^airn [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^alav [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^asus [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^attw [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^au\-m [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^aur\  [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^aus\  [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^abac [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^acoo [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^aiko [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^alco [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^alca [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^amoi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^anex [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^anny [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^anyw [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^aptu [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^arch [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^argo [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^bell [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^bird [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^bw\-n [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^bw\-u [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^beck [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^benq [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^bilb [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^blac [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^c55\/ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^cdm\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^chtm [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^capi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^comp [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^cond [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^craw [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^dall [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^dbte [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^dc\-s [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^dica [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ds\-d [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ds12 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^dait [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^devi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^dmob [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^doco [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^dopo [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^el49 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^erk0 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^esl8 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ez40 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ez60 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ez70 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ezos [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ezze [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^elai [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^emul [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^eric [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ezwa [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^fake [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^fly\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^fly\_ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^g\-mo [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^g1\ u [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^g560 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^gf\-5 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^grun [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^gene [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^go\.w [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^good [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^grad [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^hcit [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^hd\-m [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^hd\-p [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^hd\-t [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^hei\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^hp\ i [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^hpip [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^hs\-c [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^htc\  [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^htc\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^htca [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^htcg [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^htcp [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^htcs [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^htct [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^htc\_ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^haie [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^hita [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^huaw [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^hutc [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^i\-20 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^i\-go [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^i\-ma [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^i230 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^iac [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^iac\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^iac\/ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ig01 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^im1k [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^inno [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^iris [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^jata [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^java [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^kddi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^kgt [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^kgt\/ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^kpt\  [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^kwc\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^klon [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lexi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\ g [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-a [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-b [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-c [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-d [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-f [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-g [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-k [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-l [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-m [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-o [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-p [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-s [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-t [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-u [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-w [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\/k [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\/l [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\/u [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg50 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg54 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lge\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lge\/ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lynx [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^leno [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^m1\-w [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^m3ga [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^m50\/ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^maui [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mc01 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mc21 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mcca [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^medi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^meri [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mio8 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mioa [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mo01 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mo02 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mode [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^modo [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mot\  [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mot\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mt50 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mtp1 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mtv\  [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mate [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^maxo [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^merc [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mits [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mobi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^motv [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mozz [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^n100 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^n101 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^n102 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^n202 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^n203 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^n300 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^n302 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^n500 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^n502 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^n505 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^n700 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^n701 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^n710 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^nec\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^nem\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^newg [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^neon [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^netf [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^noki [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^nzph [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^o2\ x [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^o2\-x [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^opwv [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^owg1 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^opti [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^oran [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^p800 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pand [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pg\-1 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pg\-2 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pg\-3 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pg\-6 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pg\-8 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pg\-c [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pg13 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^phil [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pn\-2 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pt\-g [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^palm [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pana [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pire [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pock [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pose [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^psio [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qa\-a [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qc\-2 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qc\-3 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qc\-5 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qc\-7 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qc07 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qc12 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qc21 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qc32 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qc60 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qci\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qwap [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qtek [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^r380 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^r600 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^raks [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^rim9 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^rove [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^s55\/ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sage [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sams [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sc01 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sch\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^scp\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sdk\/ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^se47 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sec\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sec0 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sec1 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^semc [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sgh\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^shar [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sie\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sk\-0 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sl45 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^slid [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^smb3 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^smt5 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sp01 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sph\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^spv\  [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^spv\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sy01 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^samm [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sany [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sava [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^scoo [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^send [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^siem [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^smar [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^smit [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^soft [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sony [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^t\-mo [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^t218 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^t250 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^t600 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^t610 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^t618 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^tcl\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^tdg\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^telm [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^tim\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ts70 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^tsm\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^tsm3 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^tsm5 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^tx\-9 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^tagt [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^talk [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^teli [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^topl [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^tosh [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^up\.b [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^upg1 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^utst [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^v400 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^v750 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^veri [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vk\-v [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vk40 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vk50 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vk52 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vk53 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vm40 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vx98 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^virg [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vite [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^voda [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vulc [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^w3c\  [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^w3c\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapj [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapp [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapu [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapm [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wig\  [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapr [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapv [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapy [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapa [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^waps [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapt [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^winc [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^winw [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wonu [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^x700 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^xda2 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^xdag [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^yas\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^your [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^zte\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^zeto [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^acs\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^alav [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^alca [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^amoi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^aste [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^audi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^avan [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^benq [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^bird [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^blac [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^blaz [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^brew [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^brvw [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^bumb [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ccwa [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^cell [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^cldc [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^cmd\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^dang [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^doco [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^eml2 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^eric [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^fetc [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^hipt [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^http [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ibro [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^idea [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ikom [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^inno [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ipaq [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^jbro [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^jemu [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^java [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^jigs [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^kddi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^keji [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^kyoc [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^kyok [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^leno [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-c [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-d [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lg\-g [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^lge\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^libw [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^m\-cr [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^maui [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^maxo [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^midp [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mits [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mmef [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mobi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mot\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^moto [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mwbp [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^mywa [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^nec\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^newt [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^nok6 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^noki [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^o2im [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^opwv [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^palm [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pana [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pant [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pdxg [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^phil [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^play [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^pluc [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^port [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^prox [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qtek [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^qwap [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^rozo [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sage [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sama [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sams [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sany [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sch\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sec\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^send [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^seri [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sgh\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^shar [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sie\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^siem [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^smal [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^smar [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sony [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^sph\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^symb [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^t\-mo [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^teli [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^tim\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^tosh [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^treo [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^tsm\- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^upg1 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^upsi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vk\-v [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^voda [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vx52 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vx53 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vx60 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vx61 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vx70 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vx80 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vx81 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vx83 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^vx85 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wap- [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapa [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapi [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapp [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wapr [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^webc [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^whit [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^winw [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^wmlb [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^xda\- [NC,OR]
RewriteCond %{HTTP_ACCEPT} (.*)text/vnd\.wap\.wml(.*)
RewriteRule ^(.*)$ http://m.orangerockcorps.fr [R=301,L]